.ChatBox
{
    display: block;
    width: 400%;
    max-width: 95%;
    max-height: 95%;
    left: -85%;
    top: 19%;
    resize: none;
    position: fixed;
}


.ChatSpace
{
    display: block;
    position: relative;
    width: 100%;
    resize: none;
    overflow: auto;
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    background-color: #f2c3ff;
    border-radius: 20px 20px 0px 0px;
}

.ChatSpace::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit based browsers (e.g. Chrome, Safari) */
}


.text-bubble {
    display: flex;
    padding: 10px;
}

.text-bubble  > div{
    max-width: 60%;
    background-color: #3F51B5;
    padding: 10px;
    border-radius: 20px;
}

.text-bubble p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.textArea
{
    display: block;
    width: 97%;
    height: 600px;
    resize: none;
    border: 0;
    border-radius: 20px 20px 0px 0px;
    background-color: #f2c3ff;
    position: relative;
    top: -11%;
    color: white;
    padding-top: 20px;
    font-weight: 500;
    align-items: flex-start;
}

.inputArea
{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #f2c3ff;
    position: relative;
    top: 81.7%;
    border-radius: 0px 0px 20px 20px;
}

#inputText
{
    height: 80%;
    width: 90%;
    border-width: 0px 0 0px 0;
    padding-left: 15px;
    position: relative;
    top: 10%;
    left: 3%;
    border-radius: 20px;
    border-color: #111111;
}

.Messages
{
    position: relative;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

}

#ServerMessage
{
    text-align: center;
}

#image
{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    padding: 20px;
}

h3
{
    font-size: 14px;
}

.image-container {
    width: 300px;
    height: 210px;
    overflow: hidden;
    margin: 10px 0px 0px 10px;
    padding: 10px;
    align-self: flex-end;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgbtn
{
    background-color: #111111;
    position: relative;
    width: 72px;
    height: auto;
    padding: 10px;
    top: 810px;
    left: -690px;
}

.imgbtn a
{
    color: white;
}

.emoji-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 810px;
    left: -690px;
}

.img-frame {
    width: 45px;
    height: 45px;
    cursor: pointer;

}

